spring-debug/src/main/resources/META-INF/ymt.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<xsd:schema xmlns="http://www.ymt.org/schema/ymt"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		targetNamespace="http://www.ymt.org/schema/ymt"
		elementFormDefault="qualified"
		attributeFormDefault="unqualified">

	<xsd:element name="user">
		<xsd:annotation>
			<xsd:documentation>
	Reference a public, static field on a type and expose its value as
	a bean. For example <code>&lt;util:constant static-field=&quot;java.lang.Integer.MAX_VALUE&quot;/&gt;</code>.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:string"/>
			<xsd:attribute name="userName" type="xsd:string"/>
			<xsd:attribute name="phone" type="xsd:string" />
			<xsd:attribute name="email" type="xsd:string" />
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
